/*******************************************************************************
 *
 * Images
 *
 ******************************************************************************/

.image {
    display: block;
    box-shadow: 1px 0px 0px rgba(0,0,0,0.06);
    width: 100%;
}
